<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/arepa_style.css" type="text/css">
	<title>Arepa Logger...!</title>
</head>
<body>
	<img src="https://s-media-cache-ak0.pinimg.com/originals/02/f5/d5/02f5d5b9cda6b6b2b75d32e454e62c0b.jpg" width="40%">
	<h1>EAT DA AREPA...!!!!</h1>
	{{{ body }}}
</body>
</html>